.listContainer {
    display: flex;
    width: 90%;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    border-bottom: 2px solid #cccc;
    padding: 10px 15px;
}

.title {
    width: 33%;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #777777;
    text-align: justify;

}
.deleteIcons {
    color: #777777;
    font-size: 30px;
    cursor: pointer;

}
.deleteIcons:hover {
    transition: 2s;
    color: #F24C3D;
    font-weight: 700;
}
.editIcons {
    color: #777777;
    font-size: 30px;
    cursor: pointer;

}
.editIcons:hover {
    transition: 2s;
    color: #4E4FEB;
    font-weight: 700;
}